@model UserModel

<div class="lk-block-user">
    <div name="container-@nameof(Model.PhoneNumber)" class="lk-block-user__row">
        <div class="lk-block-user__data">Мобильный телефон:</div>
        <div class="lk-block-user__lock">
            <input class="lk-block-user__input form-group__input is-disabled" type="text" id="phone" asp-for="PhoneNumber" value="@Model.PhoneNumber" data-masked-phone>

            <div class="lk-block-user__icon">
                <i class="fas fa-lock"></i>
                <i class="fas fa-lock-open"></i>
            </div>
        </div>
        <button type="button" class="lk-block-user__refactor">Изменить</button>
    </div>
    <div name="container-@nameof(Model.Password)" class="lk-block-user__row">
        <div class="lk-block-user__data">Пароль:</div>
        <div class="lk-block-user__lock">
            <div class="password">
                <input class="lk-block-user__input form-group__input is-disabled" type="password" id="password" name="password">
                <div class="lk-block-user__icon">
                    <i class="fas fa-lock"></i>
                    <i class="fas fa-lock-open"></i>
                </div>
                <div class="password__eye">
                    <i class="fas fa-eye-slash"></i>
                    <i class="fas fa-eye"></i>
                </div>
            </div>
        </div>
        <button type="button" class="lk-block-user__refactor">Изменить</button>
    </div>
</div>