@model (IContactData, bool)

<div class="lk-block-info lk-block-info--mod">
    <div class="lk-block-info__header">КОНТАКТНЫЕ ДАННЫЕ @(Model.Item2 ? "": "Представителя (При наличии)")</div>
    <div class="lk-block-info__container">
        <div class="form-group form-bid" name="container-@nameof(Model.Item1.PhoneNumber)">
            <input type="text" placeholder="Телефон" data-masked-phone="" class="form-group__input" id="phone" name="@nameof(Model.Item1.PhoneNumber)" value="@Model.Item1?.PhoneNumber">
        </div>
        <div class="form-group form-bid" name="container-@nameof(Model.Item1.Email)">
            <input type="email" placeholder="Электронная почта" class="form-group__input" id="email" name="email" value="@Model.Item1?.Email">
        </div>
    </div>
</div>