@using Renk72Lk.DataAccess.Extensions
@model CreateBidViewModel

<div class="lk-block-info lk-block-info--mod">
    <div class="lk-block-info__header">Порядок расчета и условия рассрочки внесения платы за технологическое присоединение по договору осуществляется по:</div>
    <div class="lk-block-info__container">
        <div class="form-group">
            <div class="select-block select-block-payment_order" name="container-@nameof(Model.Bid.Step4.PaymentOrder)">
                <div class="select-block__title">
                    @if (String.IsNullOrEmpty(Model?.Bid.Step4?.PaymentOrder))
                    {
                        <span>Выберите условия расчета</span>
                    }
                    else
                    {
                        <span>@Model?.Bid.Step4?.PaymentOrder</span>
                    }
                </div>
                <ul class="select-block__list scrollbar">
                    <li><a href="#" onclick="ChooseInfo('payment_order', '11')">Вариант 1</a></li>
                    <li><a href="#" onclick="ChooseInfo('payment_order', '12')">Вариант 2</a></li>
                </ul>
                <input type="hidden" id="payment_order" name="@nameof(Model.Bid.Step4.PaymentOrder)"
                value="@Model?.Bid.Step4?.PaymentOrder">
                <br>
                <span id="payment_order_infofor">
                    <h5>Вариант 1, при котором:</h5>
                    <ul>
                        
                        @if (User.IsInRole(UserType.NaturalPerson.GetDescription()))
                        {
                            <li>15 процентов платы за технологическое присоединение вносятся в течение 05 рабочих дней со дня размещения в личном кабинете заявителя счета;</li>
                            <li>30 процентов платы за технологическое присоединение вносятся в течение 20 дней со дня размещения в личном кабинете заявителя счета;</li>
                            <li>35 процентов платы за технологическое присоединение вносятся в течение 40 дней со дня размещения в личном кабинете заявителя счета;</li>
                            <li>20 процентов платы за технологическое присоединение вносятся в течение 10 дней со дня размещения в личном кабинете заявителя акта об осуществлении технологического присоединения или уведомления об обеспечении сетевой организацией возможности присоединения к электрическим сетям.</li>
                        }                    </ul>
                    <h5>Вариант 2, при котором:</h5>
                    <ul>
                        @if (User.IsInRole(UserType.NaturalPerson.GetDescription()))
                        {
                            <li>авансовый платеж вносится в размере 5 процентов размера платы за технологическое присоединение;</li>
                            <li>осуществляется рассрочка платежа в размере 95 процентов платы за технологическое присоединение с условием ежеквартального внесения платы равными долями от общей суммы рассрочки на период до 3 лет со дня подписания сторонами акта об осуществлении технологического присоединения';</li>
                            <li>за предоставление рассрочки платежа за технологическое присоединение сетевой организации заявителем выплачиваются проценты. Проценты начисляются на остаток задолженности заявителя и подлежат оплате одновременно с очередным платежом, которым погашается частично или полностью такая задолженность. Размер процентов (в процентах годовых) за каждый день рассрочки определяется в размере действовавшей на указанный день ключевой ставки Центрального банка Российской Федерации, увеличенной на 4 процентных пункта;</li>
                        }
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>