@using Renk72Lk.DataAccess.Extensions
@model CreateBidViewModel

<div class="lk-block-info lk-block-info--mod">
    <div class="lk-block-info__header">Параметры надежности технологического присоединения</div>
    <div class="lk-block-info__container">
        <div class="form-group" name="container-@nameof(Model.Bid.Step4.ReliabilityCategory)">
            <div class="select-block select-block-reliability_category">
                @if (Model?.Bid?.Service == TechnologicalConnectionType.UpTo15kW.GetDescription() && User.HasClaim(UserType.UserType.GetDescription(), UserType.NaturalPerson.GetDescription()))
                {
                    <div class="select-block__title">
                        <span>III - один источник питания</span>
                    </div>
                    <input type="hidden" id="reliability_category" name="@nameof(Model.Bid.Step4.ReliabilityCategory)" value="III - один источник питания">
                    <br>

                    <p id="reliability_category_infofor">«В соответствии с п. 1.2.18 Правил устройства электроустановок (утв. Приказом Минэнерго РФ № 204 от 08.07.2002 г.), электроприемники третьей категории - все остальные электроприемники, не подпадающие под определения первой и второй категорий. Электроприемники первой категории - электроприемники, перерыв электроснабжения которых может повлечь за собой: опасность для жизни людей, угрозу для безопасности государства, значительный материальный ущерб, расстройство сложного технологического процесса, нарушение функционирования особо важных элементов коммунального хозяйства, объектов связи и телевидения. Электроприемники второй категории - электроприемники, перерыв электроснабжения которых приводит к массовому недоотпуску продукции, массовым простоям рабочих, механизмов и промышленного транспорта, нарушению нормальной деятельности значительного количества городских и сельских жителей.»</p>
                }
                else
                {
                    <div class="select-block__title">
                        @if (String.IsNullOrEmpty(Model?.Bid.Step4.ReliabilityCategory))
                        {
                            <span>Выберите категорию надежности</span>
                        }
                        else
                        {
                            <span>@Model?.Bid.Step4?.ReliabilityCategory</span>
                        }
                    </div>
                    <ul class="select-block__list scrollbar">
                        @foreach (ReliabilityCategory category in Enum.GetValues(typeof(ReliabilityCategory)))
                        {
                            <li>
                                <a href="#" onclick="ChooseInfo('reliability_category', '@((int)category)')">
                                    @category.GetDescription()
                                </a>
                            </li>
                        }
                    </ul>
                    <input type="hidden" id="reliability_category" name="@nameof(Model.Bid.Step4.ReliabilityCategory)" value="@Model?.Bid.Step4?.ReliabilityCategory">
                    <br>
                    <p id="reliability_category_infofor"></p>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function ChooseInfo (id,st) {
    var elem = document.getElementById(id+"_infofor");

    if (st === '1') {
        elem.innerHTML = "«В соответствии с п. 1.2.18 Правил устройства электроустановок (утв. Приказом Минэнерго РФ № 204 от 08.07.2002 г.), электроприемники первой категории - электроприемники, перерыв электроснабжения которых может повлечь за собой: опасность для жизни людей, угрозу для безопасности государства, значительный материальный ущерб, расстройство сложного технологического процесса, нарушение функционирования особо важных элементов коммунального хозяйства, объектов связи и телевидения. Из состава электроприемников первой категории выделяется особая группа электроприемников, бесперебойная работа которых необходима для безаварийного останова производства с целью предотвращения угрозы жизни людей, взрывов и пожаров.»";
    } else if (st === '2') {
        elem.innerHTML = '«В соответствии с п. 1.2.18 Правил устройства электроустановок (утв. Приказом Минэнерго РФ № 204 от 08.07.2002 г.), электроприемники второй категории - электроприемники, перерыв электроснабжения которых приводит к массовому недоотпуску продукции, массовым простоям рабочих, механизмов и промышленного транспорта, нарушению нормальной деятельности значительного количества городских и сельских жителей.»';
    } else if (st === '3') {
        elem.innerHTML = '«В соответствии с п. 1.2.18 Правил устройства электроустановок (утв. Приказом Минэнерго РФ № 204 от 08.07.2002 г.), электроприемники третьей категории - все остальные электроприемники, не подпадающие под определения первой и второй категорий. Электроприемники первой категории - электроприемники, перерыв электроснабжения которых может повлечь за собой: опасность для жизни людей, угрозу для безопасности государства, значительный материальный ущерб, расстройство сложного технологического процесса, нарушение функционирования особо важных элементов коммунального хозяйства, объектов связи и телевидения. Электроприемники второй категории - электроприемники, перерыв электроснабжения которых приводит к массовому недоотпуску продукции, массовым простоям рабочих, механизмов и промышленного транспорта, нарушению нормальной деятельности значительного количества городских и сельских жителей.»';
    } else if (st === '11') {
        elem.innerHTML = "<ul><li>15 процентов платы за технологическое присоединение вносятся в течение 15 дней со дня заключения договора;</li><li>30 процентов платы за технологическое присоединение вносятся в течение 60 дней со дня заключения договора;</li><li>45 процентов платы за технологическое присоединение вносятся в течение 15 дней со дня фактического присоединения;</li><li>10 процентов платы за технологическое присоединение вносятся в течение 15 дней со дня подписания акта об осуществлении технологического присоединения;</li></ul>";
    } else if (st === '12') {
        elem.innerHTML = "<ul><li>авансовый платеж вносится в размере 5 процентов размера платы за технологическое присоединение;</li><li>осуществляется рассрочка платежа в размере 95 процентов платы за технологическое присоединение с условием ежеквартального внесения платы равными долями от общей суммы рассрочки на период до 3 лет со дня подписания сторонами акта об осуществлении технологического присоединения;</li><li>за предоставление рассрочки платежа за технологическое присоединение сетевой организации заявителем выплачиваются проценты. Проценты начисляются на остаток задолженности заявителя и подлежат оплате одновременно с очередным платежом, которым погашается частично или полностью такая задолженность. Размер процентов (в процентах годовых) за каждый день рассрочки определяется в размере действовавшей на указанный день ключевой ставки Центрального банка Российской Федерации, увеличенной на 4 процентных пункта;</li></ul>";
    } else
        elem.innerHTML === "";
    $('#payment_order').trigger('change');
    }

    $(document).on('click', '.select-block-reliability_category', function() {
    if ($('#reliability_category').val() === 'I - два независимых взаимно резервирующих источников питания, и дополнительное питание от третьего независимого взаимно резервирующего источника питания' || $('#reliability_category').val() === 'II - два независимых взаимно резервирующих источников питания') {
        $('.lk-block-info--armor').removeClass('no-active');
    } else {
        $('.lk-block-info--armor').addClass('no-active');
    }
    })
</script>
