@using Renk72Lk.DataAccess.Extensions
@model CreateBidViewModel
@{
    ViewBag.Title = "Оформление заявки";
}

<div class="container">
    @if (User.HasClaim(UserType.UserType.GetDescription(), UserType.NaturalPerson.GetDescription()))
    {
        @await Html.PartialAsync("~/Views/Bid/Fl/Bid.cshtml")
    }
</div>  