@using Renk72Lk.DataAccess.Extensions
@model BidRepresentativeInfoModel

<section class="section">
    @if (User.HasClaim(UserType.UserType.GetDescription(), UserType.NaturalPerson.GetDescription()))
    {
        <h1 class="section__title">Профиль представителя Физического лица</h1>
    }

    <div class="section__row">
        <div class="sidebar">
            <div class="sidebar__box">
                <div class="sidebar__list">
                    @await Html.PartialAsync("Sidebar/SidebarMenu")
                </div>
            </div>
        </div>            
        <div class="content">
            <h2 class="content__title">Настройка профиля</h2>
            @if (TempData["Status"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Status"]
                </div>
            }
            <form class="form-profile" role="form" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.UserId)" value="@Model?.UserId" />
                <input type="hidden" name="@nameof(Model.Role)" value="@Model?.Role" />
                @await Html.PartialAsync("Items/Profile/EmailPhone")

                <div class="lk-block-info">
                    <div class="lk-block-info__header">ФИО</div>
                    <div class="lk-block-info__container">
                        <div class="lk-block-info__row">
                            <div class="lk-block-info__hellp">Фамилия</div>
                            <input type="text" placeholder="Фамилия" class="form-group__input" id="surname" name="surname" value="@Model?.Surname">
                        </div>
                        <div class="lk-block-info__row">
                            <div class="lk-block-info__hellp">Имя</div>
                            <input type="text" placeholder="Имя" class="form-group__input" id="name" name="name" value="@Model?.Name">
                        </div>
                        <div class="lk-block-info__row">
                            <div class="lk-block-info__hellp">Отчество</div>
                            <input type="text" placeholder="Отчество" class="form-group__input" id="patronymic" name="patronymic" value="@Model?.Patronymic">
                        </div>
                        <div class="lk-block-info__row">
                            <div class="lk-block-info__hellp">СНИЛС</div>
                            <input type="text" placeholder="СНИЛС" class="form-group__input" id="snils" name="snils" value="@Model?.Snils" data-masked-snils>
                        </div>
                        <div class="lk-block-info__row">
                            <div class="lk-block-info__hellp">Доверенность</div>
                            <input type="text" placeholder="Доверенность" class="form-group__input" id="act" name="act" value="@Model?.Attorney">
                        </div>                               
                    </div>
                </div>
                @await Html.PartialAsync("Items/Passport", ((IPassportData)Model, false))
                <div class="lk-block-btn">
                    @if (Model == null)
                    {
                        <div class="form-step-error">Создайте заявку, чтобы редактировать данные представителя</div>
                    }
                    else
                    {
                        <button type="submit" class="btn" >Сохранить</button>
                    }
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $('.form-profile').on('submit',function(event){
        event.preventDefault();
        var formData = new FormData(this);
        $.ajaxSetup({
            beforeSend: function(xhr) {
                var token = $('input[name="__RequestVerificationToken"]').val();
                xhr.setRequestHeader("RequestVerificationToken", token);
            }
        });
        $.ajax({
            url: "/Home/Representative",
            type:"POST",
            data:formData,
            cache: false,
            contentType: false,
            processData: false,
            success:function(data){
                console.log('Успешно')
                $('.lk-block-btn .btn').before('<div class="alert alert-success alert-profile"><i class="fas fa-check-circle"></i> Изменения сохранены</div>');
                setTimeout(() => {
                    $('.alert').slideUp('400', function(){
                        $(this).remove();
                    });
                }, 3000);
            },
            error: function (err) {

                if (err.responseJSON.errors) {
                    $.each(err.responseJSON.errors, function(fieldName, messages) {
                        $.each(messages, function(index, message) {
                            $(`[name='container-${fieldName}']`).each(function() {

                                $(this).find('.form-group__error').remove();
                                $(this).find('.form-group__error form-group__error_home').remove();

                                if($(this).find('.lk-block-info__hellp').length > 0) $(this).find('.lk-block-info__hellp').after(`<div class="form-group__error form-group__error_home">${message}</div>`);
                                else if($(this).find('.lk-block-user__lock').length > 0) $(this).find('.lk-block-user__lock').prepend(`<div class="form-group__error form-group__error_home">${message}</div>`);
                                else if($(this).attr('id')==="date_of_birth_box") $(this).prepend(`<div class="form-group__error form-group__error_home">${message}</div>`);
                                else $(this).append(`<div class="form-group__error">${message}</div>`);

                                $(this).removeClass('error').addClass('error');
                                if ($(this).find('.form-group__input').length>0) $(this).find('.form-group__input').removeClass('is-active').addClass('is-active')
                                else $(this).find(".select-block__title").removeClass('is-active').addClass('is-active')
                            });
                        });
                    });
                }

                $('.lk-block-btn .btn').before('<div class="alert alert-dunger alert-profile"><i class="fas fa-exclamation-circle"></i> Неверные данные</div>');
                    setTimeout(() => {
                        $('.alert').slideUp('400', function(){
                            $(this).remove();
                        });
                    }, 3000);
            }
        });
    });
</script>