@using Renk72Lk.DataAccess.Extensions
@model UserModel

@if (TempData["Status"] != null)
{
    <div class="alert alert-success">
        @TempData["Status"]
    </div>
}
@if (User.IsInRole(UserRole.Admin.GetDescription()))
{
    @await Html.PartialAsync("Admin/Main", Model)
}
else
{
    @await Html.PartialAsync("Fl_Ul_IP/Main", Model)
}