<div class="container">
    <div class="row">
        <div class="policy">
            <h1 class="policy__text">
                Согласие на обработку персональных данных<br>
                (для физических лиц и индивидуальных предпринимателей)
            </h1>
            <p>В соответствии с требованиями статьи 9 Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных» свободно, своей волей и в своем интересе даю Согласие Обществу с Ограниченной ответственностью «Региональная энергетическая компания» (далее – ООО «РЭНК»), расположенному по адресу: 625002, РФ, Тюменская область, г. Тюмень, ул. Осипенко, 19, а также субъекту розничного рынка, с которым будет заключен договор, обеспечивающий продажу электрической энергии (мощности) на розничном рынке, на обработку моих персональных данных, а именно: фамилия, имя, отчество; дата (день, месяц, год) рождения; место рождения; паспортные данные (данные иного документа, удостоверяющего личность); гражданство; адрес места жительства; адрес регистрации; номер телефона; адрес электронной почты; данные свидетельства о постановке на учет в налоговом органе физического лица по месту жительства на территории РФ (идентификационный номер налогоплательщика - ИНН); страховой номер индивидуального лицевого счета (СНИЛС); сведения о регистрации в качестве индивидуального предпринимателя; сведения об объеме и стоимости оказываемой в рамках договора услуги; сведения о задолженности субъекта персональных данных за оказанные услуги, об оплате; сведения о документах, подтверждающих право собственности либо подтверждающих принадлежность на ином законном основании, на подключаемый объект,</p>
            <ul>
                в целях:
                <li>организации договорных отношений, в том числе исполнения обязанностей и реализации прав, предоставленных в рамках договоров (соглашений) между ООО «РЭНК» и мной (моим представляемым), между субъектом розничного рынка, с которым будет заключен договор, обеспечивающий продажу электрической энергии (мощности) на розничном рынке, и мной.</li>
                <li>исполнения иных обязанностей, налагаемых на ООО «РЭНК» и на субъект розничного рынка, с которым будет заключен договор, обеспечивающий продажу электрической энергии (мощности) на розничном рынке, в соответствии с действующим законодательством, а также реализации иных прав, предоставленных ООО «РЭНК» и субъекту розничного рынка, с которым будет заключен договор, обеспечивающий продажу электрической энергии (мощности) на розничном рынке,</li>
            </ul>
            <p>путем совершения следующих действий (операций) или совокупности действий (операций), предусмотренных п. 3 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», с использованием средств автоматизации или без использования таких средств: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (предоставление, доступ), блокирование, удаление, уничтожение персональных данных.</p>
            <p>Даю согласие ООО «РЭНК» на передачу (предоставление, доступ) моих персональных данных для обработки гарантирующему поставщику.</p>
            <p>Настоящее согласие действует до достижения цели обработки персональных данных, если иное не предусмотрено законодательством Российской Федерации.</p>
            <p>Настоящее согласие на обработку персональных данных может быть отозвано письменным заявлением в порядке, установленном Федеральным законом Российской Федерации от 27.07.2006 №152-ФЗ «О персональных данных».</p>
            <p>Я проинформирован, что в случае отзыва мною согласия на обработку персональных данных, ООО «РЭНК» вправе продолжить их обработку при наличии предусмотренных действующим законодательством оснований.</p>
            <p>Я осознаю, что проставление отметки в поле слева от фразы «Даю согласие на обработку персональных данных» на страницах - означает мое согласие с положениями настоящего Согласия на обработку персональных данных.</p>
        </div>
    </div>
</div>