<div class="lk-block-info lk-block-info--mod">
    <div class="lk-block-info__header">Приложение к заявке на технологическое присоединение</div>
    <div class="lk-block-info__container">
        <i>
            <p>Допустимые форматы: jpg, jpeg, png, pdf</p>
            <p>Принимаются фото документов, сделанные на мобильные устройства</p>
        </i>
    </div>
</div>